
.container{

	
	
}


/* Create a custom checkbox */
.checkmark {
	float:left;
	display:inline-block;
	position: relative;
	bottom: -12.5px;
	
    
    height: 25px;
    width: 25px;
    background-color: #eee;
}

#rooms-buttons-list{
	list-style-type:none;
}




.checkRect{
	width:80vw;
	height : 50px;
	border: 2px;
	padding: 10px;
	
}
.channelButton{
	margin: 0px;
	background-color: #a1d6e2;
	border-color: #000000;
	text-align: left;
	min-width: 200px;
	width: 75vw;
	height : 50px;
	float:left; display:inline-block;
	padding: 10px;


}

