/*
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/

/**
 * Canvas
 */

#canvasContainer {
  overflow: auto;
}

.whiteboard {
  /*height: 100%;
  width: 100%;*/
  /*height: 480px;
  width: 720px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -240px 0 0 -360px;*/
  margin: 0 0 0 0;
  border: 2px solid black;
  background : white;
}


#listOfCanvas {

	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.multiView{
	margin : 20px;

}

#wrapper{
    position: relative;
    overflow:hidden;
}


#sidebar {
    background: darkgrey;
    border: 2px solid grey;
    position: absolute;
    left: 0px;
    width: 200px;
    height: 484px;
    max-height: 484px;
}

#sidebar-content {
    width: 80%;
    float: left;
}

#toggleSidebar {
    float: right;
    height: 100%;
    width: 20px;
}

#toggleSidebar:hover {
    cursor: pointer;
}

#toggleText {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
}

.tool {
    margin-left: 2px;
    margin-right: -2px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid grey;
    width: 75px;
    height: 100px;
    text-align: center;
}

.tool:hover {
    border: 1px solid black;
}

.preview{
    border-radius: 50%;
    background-color: black;
    margin: auto;
}

.thicknessWrapper {
    padding: 0 3px;
    height: 52px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 3px;
    margin-left: 2px;
}

.thicknessWrapper:hover{
    cursor: pointer;
    border: 1px solid black;
}

.color {
    margin-left: 2px;
    margin-right: -2px;
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 3px;
}

.color:hover {
    cursor: pointer;
    border: 1px solid black;
}

#clrBtn {
    margin-left: 2px;
    display: inline-block;
    color: white;
}

#dlBtn {
    margin-left: 2px;
    margin-top: 5px;
    display: inline-block;
    color: white;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white; }

.preview.preview-2 { width: 2px; height: 2px; margin-top: 24px; }
.preview.preview-5 { width: 5px; height: 5px; margin-top: 23px; }
.preview.preview-10 { width: 10px; height: 10px; margin-top: 20px; }
.preview.preview-20 { width: 20px; height: 20px; margin-top: 15px; }
.preview.preview-50 { width: 50px; height: 50px; }
